<section class="content-header loginheader">

        <h1>Login</h1>
        <div class="logindevider"></div>
 </section>

<div class="content-wrapper loginwrapper">

    

<form angular-validator-submit="submitLogin()" id="loginform" name="loginform" role="form" novalidate angular-validator>

    <div class="error" ng-show="errormsg">{{errormsg}}</div>



    <div class="form-group form-padding email_div">

        <input type="email" class="form-control" placeholder="Enter email" name="email"

               ng-model="form.email"

               required-message="'Email can not be blank.'"

               invalid-message="'Enter valid email address.'"

               required>

    </div>

    <div class="form-group form-padding">

        <input type="password" class="form-control"  placeholder="Password" name="password"

               ng-model="form.password"

               required-message="'Password can not be blank. '"

               required>

























    </div>



    <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">

        <button type="submit" class="btn btn-primary btn-submit">LOGIN</button>

    </div>

</form>

    </div>